{% extends '@OpensoftStorage/layout.html.twig' %}

{% block opensoft_storage_title %}Storage File Type Policies - Edit Policy{% endblock %}

{% block opensoft_storage_breadcrumb %}
    <h2>Storage Policies</h2>
    <ol class="breadcrumb">
        {% if block('opensoft_storage_breadcrumb_prefix') is defined %}
            {{ block('opensoft_storage_breadcrumb_prefix') }}
        {% endif %}
        <li>
            <a href="{{ path('opensoft_storage_list_storages') }}">File Storage</a>
        </li>
        <li>
            <a href="{{ path('opensoft_storage_list_storage_policies') }}">Polices</a>
        </li>
        <li class="active">
            <strong>Edit Policy</strong>
        </li>
    </ol>
{% endblock %}

{% block opensoft_storage_content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Edit Policy for {{ types[policy.type] }}</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    {% include "@OpensoftStorage/storage/policy_form.html.twig" with {'form': form, 'action': path('opensoft_storage_edit_storage_policy', {'id': policy.id})} %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
